.search_form {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #eaebf3;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 50px;
}

.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.button {
  padding-right: 60px;
  padding-left: 20px;
  color: black;
  background-color: rgb(173, 167, 247);
  width: 48px;
  height: 48px;
  border: 0;
  cursor: pointer;
  outline: none;
  margin-left: 30px;
}

.button:hover {
  background-color: rgb(209, 172, 245);
  font-size: 15px;
}

.label {
  color: #3f51b5;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: 2px solid #797474;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}
